<<!DOCTYPE html>
<head>
	<title> Chat</title>
	<link href = "base_style.css" type = "text/css" rel = "stylesheet">
	
</head>
<h1>
	<a href = "{% url 'chat_app:index' %}"> Chat </a>
</h1>
<h3>
	{% if user.is_authenticated %}
		Hello, {{ user.username }}
		<a href = "{% url 'users:logout' %}"> Log out </a>
	{% else %}
		<a href = "{% url 'users:login' %}"> Log in </a>
		<a href = "{% url 'users:register' %}"> Register </a>
	{% endif %}
</h3>
<h2>
	<a href = "{%url 'chat_app:chatrooms' %}"> Chatrooms </a>
</h2>
<br>

{% block content %}{% endblock content %}