{% extends 'chat_app/base.html' %}

{% block content %}

<h4> Chatroom: {{chatroom}} </h4>

<p> Messages: </p>
<br>
<p>
	<a href = "{% url 'chat_app:new_message' chatroom.id %}"> Write a Message </a>
</p>
<ul>
	{% for message in messages %}
		<li>
			<p> {{message.owner }} wrote this message on 
			{{ message.date_added|date:'M d, Y H:i' }} </p>
			<p> {{message.text|linebreaks }} </p>
			<p> <a href = "{% url 'chat_app:edit_message' message.id %}">Edit entry</a> </p>
		</li>
	{% empty %}
		<li> There are no messages in this chatroom yet. </li>
	{% endfor %}
</ul>

{% endblock content %}

